<!doctype html>
<html>
<head>
<meta charset="gb2312">
<title>黑色Html5响应式个人博客模板——主题《如影随形》</title>
<meta name="keywords" content="个人博客模板,博客模板,响应式" />
<meta name="description" content="如影随形主题的个人博客模板，神秘、俏皮。" />
<link href="<?php echo __PUBLIC__;?>/css/base.css" rel="stylesheet">
<link href="<?php echo __PUBLIC__;?>/css/style.css" rel="stylesheet">
<link href="<?php echo __PUBLIC__;?>/css/media.css" rel="stylesheet">
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
<!--[if lt IE 9]>
<script src="<?php echo __PUBLIC__;?>/js/modernizr.js"></script>
<![endif]-->
</head>
<body>
<div class="ibody">
  <?php
    include 'header.html';
  ?>
  <article>
    <h2 class="about_h">您现在的位置是：<a href="/Home/index.php?c=Index&f=show&p=index">
    首页</a>><a href="1/">慢生活</a>
    <?php
      if($_GET['f'] == 'classify'){
        echo "
          <a href=''>".$where1['classify']."</a>
        ";
      }
    ?>
    </h2>
    <div class="bloglist">
    <?php
      $i = 1;
      foreach($article as $k => $v){
        if($i>=$pageS && $i<=$pageE){
          //处理文章内容太长
          $content = $this->dealwith_art($v['content'],100,'......');
          echo "
            <div class='newblog'>
              <ul>
                <h3><a href='/Home/index.php?c=Article&f=show&id=".$v['id']."'>".$v['title']."</a></h3>
                <div class='autor'><span>作者：修宇</span><span>分类：[<a href='/'>".$v['classify']."</a>]</span><span>浏览（<a href='/'>".$v['browse']."</a>）</span><!-- <span>评论（<a href='/'>30</a>）</span> --></div>
                <p>".$content."<a href='/Home/index.php?c=Article&f=show&id=".$v['id']."' class='readmore'>全文</a></p>
               <!-- target='_blank' -->
              </ul>
              <figure><img src='".__IMAGE__."/".$v['photourl']."/".$v['photoname']."' ></figure>
              <div class='dateview'>".$v['time']."</div>
            </div>
          ";
          $i++;     
        }else{
          $i++;
        }
      } 
    ?>
      


    </div>
    <!-- js要处理由<a>变成<b>！！！ -->
    <div class="page"><!-- <a title="Total record"> -->
    <!-- </a> -->
    <!-- <b>1</b> -->
    <?php
        if($page!=1){
            echo "
              <a href='/Home/index.php?c=Article&f=source&pid=1'><<</a>
              <a href='/Home/index.php?c=Article&f=source&pid=".($page-1)."'><</a>
            ";
        }
    
      for($i=0;$i<$pageNum;$i++){
        echo "<a href='/Home/index.php?c=Article&f=source&pid=".($i+1)."'>".($i+1)."</a>";
      }

      if($page==$pageNum){}else{
          echo "
            <a href='/Home/index.php?c=Article&f=source&pid=".($page+1)."'>&gt;</a>
            <a href='/Home/index.php?c=Article&f=source&pid=".$pageNum."'>&gt;&gt;</a></div> 
          ";
      }
    ?>
    
  </article>
  <aside>
    <div class="rnav">
      <?php
        foreach($module as $k => $v){
        $color = ($k+1)%4+1;
          echo "
            <li class='rnav".$color."'><a href='/Home/index.php?c=Article&f=classify&p=".$v['alias']."'>".$v['title']."</a></li>
          ";
        }
      ?>
    </div>
    <div class="ph_news">
      <h2>
        <p>点击排行</p>
      </h2>
      <ul class="ph_n">
        <?php
          $i = 0;
          foreach($ClickRank as $k => $v){
            if($i<3){
              echo "
                 <li><span class='num".($i+1)."'>".($i+1)."</span><a href='/Home/index.php?c=Article&f=show&id=".$v['id']."'>".$v['title']."</a></li>
              ";
            }else{
              echo "
                <li><span>".($i+1)."</span><a href='/Home/index.php?c=Article&f=show&id=".$v['id']."'>".$v['title']."</a></li>
              ";
            }
            $i++;
          }
        ?>
      </ul>
      <h2>
        <p>最新文章</p>
      </h2>
      <ul>
        <?php
          foreach($latest as $k => $v){
            echo "
              <li><a href='/Home/index.php?c=Article&f=show&id=".$v['id']."'>".$v['title']."</a></li>
            ";
          }
        ?>
      </ul>
      <!-- <h2>
        <p>最新评论</p>
      </h2>
      <ul class="pl_n">
        <dl>
          <dt><img src="<?php echo __PUBLIC__;?>/images/s8.jpg"> </dt>
          <dt> </dt>
          <dd>DanceSmile
            <time>49分钟前</time>
          </dd>
          <dd><a href="/">文章非常详细，我很喜欢.前端的工程师很少，我记得几年前yahoo花高薪招聘前端也招不到</a></dd>
        </dl>
        <dl>
          <dt><img src="<?php echo __PUBLIC__;?>/images/s7.jpg"> </dt>
          <dt> </dt>
          <dd>yisa
            <time>2小时前</time>
          </dd>
          <dd><a href="/">我手机里面也有这样一个号码存在</a></dd>
        </dl>
        <dl>
          <dt><img src="<?php echo __PUBLIC__;?>/images/s6.jpg"> </dt>
          <dt> </dt>
          <dd>小林博客
            <time>8月7日</time>
          </dd>
          <dd><a href="/">博客色彩丰富，很是好看</a></dd>
        </dl>
        <dl>
          <dt><img src="<?php echo __PUBLIC__;?>/images/003.jpg"> </dt>
          <dt> </dt>
          <dd>DanceSmile
            <time>49分钟前</time>
          </dd>
          <dd><a href="/">文章非常详细，我很喜欢.前端的工程师很少，我记得几年前yahoo花高薪招聘前端也招不到</a></dd>
        </dl>
        <dl>
          <dt><img src="<?php echo __PUBLIC__;?>/images/002.jpg"> </dt>
          <dt> </dt>
          <dd>yisa
            <time>2小时前</time>
          </dd>
          <dd><a href="/">我手机里面也有这样一个号码存在</a></dd>
        </dl>
      </ul>
      <h2>
        <p>最近访客</p>
        <ul>
          <img src="<?php echo __PUBLIC__;?>/images/vis.jpg"><!-- 直接使用“多说”插件的调用代码 -->
        </ul>
      </h2> -->
    </div>
    <div class="copyright">
      <ul>
        <p> Design by <a href="/">DanceSmile</a></p>
        <p>蜀ICP备11002373号-1</p>
        </p>
      </ul>
    </div>
  </aside>
  <script src="<?php echo __PUBLIC__;?>/js/silder.js"></script>
  <div class="clear"></div>
  <!-- 清除浮动 --> 
</div>
</body>
</html>
